:host {
  .promotion-container {
    display: flex;
    font-family: sans-serif;
    align-items: center;
    background: white;
    height: 3.4em;

    img {
      width: 60px;
      // padding: 10px;
    }
  }
}
