:host {
  .promotion-container {
    display: flex;
    font-family: sans-serif;
    align-items: center;
    background: white;
    height: 4em;
    width: 19em;

    img {
      width: 70px;
    }

    .promo-text {
      padding: 2.5em;
      font-size: .8em;
    }
  }
}
