:host {
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    justify-content: flex-end;
    padding-right: 27rem;
  }

  .form-control {
    background-color: #F7F3E9;
    border: none;
    border-radius: .5em;
    height: 3rem;
    font-family: sans-serif;
    font-weight: 100;
  }

  option {
    background-color: #F7F3E9;
    height: 3rem;
  }

  .cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }
}
