:host {
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    justify-content: flex-end;
    padding-right: 27rem;
    padding-bottom: 4rem;
  }

  .form-control {
    background-color: linen;
    border: none;
    border-radius: 5%;
    height: 3rem;
  }

  option {
    background-color: linen;
    height: 3rem;
  }

  .cards-container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
  }

}
