<form [formGroup]="form">

  <div class="form-group">

    <select class="select-menu" formControlName="contractLength" class="form-control"
      (change)="changeContractLength($event)">

      <option *ngFor="let length of contractLengthOptions$ | async"
        selected="length === preselectedContractLength$ |async">{{length}}</option>

    </select>

  </div>

</form>

<div *ngIf="(data$ | async) as data" class="cards-container">

  <app-card-container *ngFor="let item of data.items" [item]="item" [promoText]="data.promo_text"
    [selectedContractLength]="selectedContractLength || (preselectedContractLength$ | async)">

  </app-card-container>

</div>


<!-- <span [innerText]="(data$ | async)"></span> -->
<!-- <span [innerText]="preselectedContractLength$ | async"></span> -->
