<div class="card-container" *ngIf="!!item">

  <span class="promo-text" *ngIf="isRecommended" [innerText]="promoText"></span>

  <mat-divider *ngIf="isRecommended"></mat-divider>

  <h1 [innerText]="item.name"></h1>

  <mat-divider></mat-divider>

  <app-details-section-container [included]="item.included" [productCategory]="'tv'" [sectionHeight]="tvSectionHight">
  </app-details-section-container>

  <mat-divider></mat-divider>

  <app-details-section-container [included]="item.included" [productCategory]="'net'" [sectionHeight]="netSectionHight">
  </app-details-section-container>

  <app-special-offer-section-container *ngIf="includePromotion" [promotions]="item.promotions">
  </app-special-offer-section-container>

  <mat-divider></mat-divider>

  <app-price-section-container [prices]="item.prices" [selectedContractLength]="selectedContractLength">
  </app-price-section-container>

  <button class="button order-button" (click)="cardClicked()">Naručite</button>

</div>
