<div *ngIf="!!item">

  <h1 [innerText]="item.name"></h1>

  <!-- <span [innerText]="item.included[0].long_name"></span> -->

  <mat-divider></mat-divider>

  <app-details-section-container [included]="item.included" [productCategory]="'tv'">
  </app-details-section-container>

  <mat-divider></mat-divider>

  <app-details-section-container [included]="item.included" [productCategory]="'net'">
  </app-details-section-container>

  <app-special-offer-section-container *ngIf="includePromotion" [promotions]="item.promotions">
  </app-special-offer-section-container>

  <mat-divider></mat-divider>

  <app-price-section-container [prices]="item.prices" [selectedContractLength]="selectedContractLength">
  </app-price-section-container>

</div>
